﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Organizer</title>


    @Styles.Render("~/Content/css")
    <link href="~/Content/styles/kendo.common.min.css" rel="stylesheet" />
    <link href="~/Content/styles/kendo.default.min.css" rel="stylesheet" />
    <link href="~/Content/styles/kendo.rtl.min.css" rel="stylesheet" />
    <link href="https://code.jquery.com/ui/1.12.0/themes/smoothness/jquery-ui.css" rel="stylesheet" />
    <link href="~/Content/My/SearchBlock.css" rel="stylesheet" />
    <link href="~/Content/My/LeftSideBar.css" rel="stylesheet" />
    <style>
        .ui-widget-content {
            z-index: 10000 !important;
        }

        #foo {
            text-align: center;
            background-color:aliceblue;
        }
    </style>

</head>
<body style="background-color:dimgrey">

    <div class="navbar navbar-inverse navbar-fixed-top">

        @Html.ActionLink("Home", "Index", "Home", routeValues: null, htmlAttributes: new { @class = "navbar-brand" })

        @Html.ActionLink("Register", "CreateAccount", "Account", routeValues: null, htmlAttributes: new { @class = "navbar-brand" })

        <div class="container">

            <div class="navbar-header">

                @using (Html.BeginForm("Search", "Home", FormMethod.Get, new { @class = "navbar-brand" }))
                {
                    <input type="text" name="search" placeholder="Search.." id="search" , data-autocomplete-source='@Url.Action("AutocompleteSearch", "Home")' />
                }
            </div>
            <div class="navbar-collapse collapse" style="margin-top:9px; margin-left:50%;">
                @Html.Action("PartialLoginBlock", "Account")

            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-2" style="background-color:dimgrey">
            @Html.Action("LeftSideBar", "Home")
        </div>

        <div class="col-md-10" style="background-color:aliceblue">
            @RenderBody()
        </div>
    </div>


    
    <div id="foo">
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
        <hr />
    </div>
    

    @* @Scripts.Render("~/bundles/jquery")*@
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>

    @Scripts.Render("~/bundles/bootstrap")

    <script src="~/Scripts/js/jszip.min.js"></script>
    <script src="~/Scripts/js/kendo.all.min.js"></script>
    <script src="~/Scripts/My/Search.js"></script>




    @RenderSection("scripts", required: false)
</body>
</html>
