﻿@model  IEnumerable<Organizer.Repozitory.Entities.Category>
@{
    ViewBag.Title = "LeftSideBar";
}

<h3>Categories</h3>

@foreach (var b in Model)
{
    <ul class="nav nav-pills nav-stacked">

        <li class="dropdown">
            @if (b.ParentId == null)
                {
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                <span id="menu">@b.Name</span>
                <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                    @foreach (var c in Model)
                    {

                        if (b.CategoryId == c.ParentId)
                        {
                            <li >
                                @Html.ActionLink(linkText: c.Name, actionName: "List", controllerName: "User", routeValues: new { id = c.CategoryId }, htmlAttributes: new {id ="category"})
                            </li>
                        }
                    }
                </ul>
            }

        </li>
    </ul>

}


