﻿@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Organizer</h1>
    <br />
    <p class="lead"><strong><em>Specialists</em></strong> organize their working day properly...</p>
    <p class="lead"><strong><em>Clients</em></strong> ask for a meeting with their preferred specialist, specifying the meeting date / time...</p>
    
</div>

<div class="row">
    <div class="col-md-6">
        <h2>Any registered <strong><em>Client</em></strong> can</h2>
        <p>
            To see a list of specialists, choose the preferred specialist and ask for a meeting...
        </p>
        <p><a class="btn btn-default" href="@Url.Action("List", "User")">List of specialists &raquo;</a></p>
    </div>
    
    <div class="col-md-6">
        <h2>Any registered <strong><em>Specialist</em></strong> can</h2>
        <p>View list of requested visits, details of visit, and accept or reject a request...</p>
        @if (Session["username"] != null && Convert.ToInt32(Session["CategoryId"]) != 1)
        {
            <p><a class="btn btn-default" href="@Url.Action("Index", "Specialist", new {id=Session["CategoryId"] })" title="View list of requested visits">List of requested visits &raquo;</a></p>
        }
        else
        {
            <p><a class="btn btn-default" href="@Url.Action("Login", "Account")" title ="Please log in">List of requested visits &raquo;</a></p>
        }

    </div>
</div>