﻿@model Organizer.Web.ViewModels.AccountViewModel
<link href="~/Content/My/Loginblock.css" rel="stylesheet" />

@if (Session["username"] != null)
{

    using (Html.BeginForm("Logout", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()

        <ul class="nav navbar-nav navbar-right">
            <li>
                @if (Convert.ToInt32(Session["CategoryId"]) != 1)
                {
                    <h4><a href="@Url.Action("Index", "Specialist", new {id=Session["CategoryId"] })" title="View list of requested visits">Hi @Session["username"].ToString()</a></h4>
                }
                else
                {
                    <h4><a href="@Url.Action("Index", "User", new {id=Session["userid"] })" title="View list of Specialists">Hi @Session["username"].ToString()</a></h4>
                }

            </li>
            <li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
        </ul>
    }
}
else
{
    using (Html.BeginForm("Login", "Account", FormMethod.Post, new { id = "loginForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()


        <ul class="nav navbar-nav navbar-right">

            <li style="margin:10px">
                @Html.EditorFor(model => model.UserName, new { htmlAttributes = new { @class = "size", @placeholder = "Username" } })
            </li>

            <li style="margin:10px">
                @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "size", @placeholder = "Password" } })
            </li>


            <li><a href="javascript:document.getElementById('loginForm').submit()">Log In</a></li>
        </ul>


    }
}
