﻿@model  Organizer.Web.ViewModels.AccountViewModel

@{
    ViewBag.Title = "CreateAccount";
}

<link href="~/Content/My/CreateAccount.css" rel="stylesheet" />
<h2>CreateAccount</h2>

@using (Html.BeginForm("CreateAccount", "Account", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">

        <hr />
        <div class="col-lg-6">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Surname, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Surname, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Surname, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                </div>
            </div>


            <div class="form-group">
                @Html.LabelFor(model => model.Phone, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Phone, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Phone, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.UserName, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.UserName, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.UserName, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.ConfirmPassword, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.ConfirmPassword, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.ConfirmPassword, "", new { @class = "text-danger" })
                </div>
            </div>
            <div style="margin:30px">
                <p style="font-size:14px"><strong><em>If you are a specialist, please choose your specialty</em></strong></p>
                <div>
                    @Html.DropDownListFor(model => model.CategoryIdLevel1, Model.MenuLevel1, new { id = "menuLevel1", @class = "myformat" })
                    @Html.ValidationMessageFor(model => model.CategoryIdLevel1, "", new { @class = "text-danger" })
                </div>

                <div>
                    @Html.DropDownListFor(model => model.CategoryIdLevel2, Model.MenuLevel2, new { id = "menuLevel2", @class = "myformat" })
                    @Html.ValidationMessageFor(model => model.CategoryIdLevel2, "", new { @class = "text-danger" })
                </div>

            </div>



        </div>


        
        <div id="pak">
            <p style="font-size:14px"><strong><em>Please add more info about yourself</em></strong></p>
            <div class="col-lg-6">
                <div class="form-group">
                    @Html.LabelFor(model => model.Experience, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Experience, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Experience, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div style="margin:30px">
                    @Html.LabelFor(model => model.Picture_Link, htmlAttributes: new { @class = "control-label col-md-2" })
                    <input type="file" name="upload" value="ufpload" class="col-md-10" /><br />
                </div>

                <div class="form-group" style="margin:30px">
                    @Html.LabelFor(model => model.Skills, htmlAttributes: new { id = "skill", @class = "control-label col-md-2" })

                    <div class="col-md-10">
                        @Html.DropDownList("aa", Model.MenuLevel3,  new { id = "menuLevel3", @class = "myformat" })
                    </div>
                    <div class="col-md-10" style="margin:30px">
                        @Html.TextAreaFor(x => x.Skills, 6, 25, new {@class = "form-control", @placeholder = "Please add skills from the dropdownlist" })
                    </div>
                    
                </div>
            </div>
        </div>


    </div>



    <div class="form-group" style="width:200%">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Create Account" class="btn btn-default" />
        </div>
    </div>






}

@section Scripts {
   
<script src="~/Scripts/My/CreateAccount.js"></script>

    @Scripts.Render("~/bundles/jqueryval")
}