﻿@model Organizer.Repozitory.Entities.Request

@{
    ViewBag.Title = "Details";
}

<h2>Request Details</h2>

<div>
    
    <hr />
    <dl class="dl-horizontal">
        <dt style="margin-bottom:20px">
            @Html.DisplayNameFor(model => model.ClientUserId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User1.FullName)
        </dd>
        
        <dt style="margin-bottom:20px">
            @Html.DisplayNameFor(model => model.Date_Time)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Date_Time)
        </dd>

        <dt style="margin-bottom:20px">
            @Html.DisplayNameFor(model => model.Discription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Discription)
        </dd>



    </dl>
</div>

@using (Html.BeginForm("Status", "Specialist", FormMethod.Post, new { id = "frmAccept" }))
{
    @Html.AntiForgeryToken()

    <div class="form-group" >
        @Html.LabelFor(model => model.Reject_Description, htmlAttributes: new { @class = "control-label col-md-2", @placeholder = "Massage" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Reject_Description, new { htmlAttributes = new { @class = "form-control", @placeholder = "Massage" } })
            
        </div>
    </div>


    @Html.HiddenFor(model => model.Accepted, new { id = "hdnAccepted" })
    @Html.HiddenFor(model => model.RequestId)



    <hr />
    <p style="margin:100px">
        <table>
            <tr>
                <td >
                    <a href='#' id="lnkAccept" style="margin:100px"><img src="~/Files/icon/accepted.png" width="40" height="35" alt="Accept" title="Accept" /></a>
                </td>

                <td>
                    <a href='#' id="lnkReject"><img src="~/Files/icon/reject.png" width="40" height="35" alt="Reject" title="Reject" /></a>
                </td>
            </tr>


        </table>

    </p>


}

@section scripts

    {

    <script>
        $(function () {

            $("#lnkAccept").click(function (e) {
                $("#hdnAccepted").val(1);
                $("#frmAccept").submit();
            });

            $("#lnkReject").click(function (e) {
                $("#hdnAccepted").val(2);
                $("#frmAccept").submit();
            });


        });
    </script>
}