﻿@model IEnumerable<Organizer.Repozitory.Entities.Request>

@{
    ViewBag.Title = "Index";
}

<h2>@Session["fullname"]</h2>

<p>
    <h4>List of requested visits</h4>
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ClientUserId)
        </th>
        <th>
            @Html.ActionLink("Today’s visits", "Today")
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.ActionLink(item.User1.FullName, "Details", new { id = item.RequestId }, htmlAttributes: new { title="View details of visit" })
                
            </td>
            
        </tr>
    }

   

</table>
