﻿@model IEnumerable<Organizer.Repozitory.Entities.Request>

@{
    ViewBag.Title = "Today";
}

<h2>Today's visits</h2>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ClientUserId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Date_Time)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Discription)
        </th>
        
        
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
           @Html.DisplayFor(modelItem => item.User1.FullName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Date_Time)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Discription)
        </td>
       
       
    </tr>
    
}

</table>


