﻿size{
width: 150px;
height:20px;
font-family: sans-serif;

border: 2px solid #ccc;
border-radius: 60px;
font-size: 14px;
background-color: white;

    }
    #loginLink{
        width:50px;
        height:20px;
        font-size: 12px;

        
        
    }

    .username:matches(:hover){
  color: #ffffff;
  background-color: transparent;
    }