﻿@model IEnumerable<Organizer.Repozitory.Entities.User>


<br />
<br />
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Picture_Link)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FullName)

        </th>

        <th>
            @Html.DisplayNameFor(model => model.Category.Name)

        </th>

        <th>
            @Html.DisplayNameFor(model => model.Email)

        </th>

        <th>
                @Html.DisplayNameFor(model => model.Phone)

            </th>


    </tr>

    @foreach (var item in Model)
    {
        
            <tr>

                <td>
                    <img src="~/Files/@item.Picture_Link" height="60" width="60" />
                </td>
                <td>

                    @Html.ActionLink(item.FullName, "Details", "User", routeValues: new { id = item.UserId }, htmlAttributes: null)
                </td>

                <td>

                    @Html.ActionLink(item.Category.Name, "Details", "User", routeValues: new { id = item.UserId }, htmlAttributes: null)
                </td>

                <td>

                    @Html.ActionLink(item.Email, "Details", "User", routeValues: new { id = item.UserId }, htmlAttributes: null)
                </td>



                <td>

                        @Html.ActionLink(item.Phone, "Details", "User", routeValues: new { id = item.UserId }, htmlAttributes: null)
                    </td>


            </tr>
        
    }

</table>

