﻿@model Organizer.Repozitory.Entities.User

@{
    ViewBag.Title = "Details";
}

<style type="text/css">
    dt {
        margin-bottom: 20px;
        font-size: 16px;
    }

    dd {
        font-size: 16px;
    }
    
    p{
        margin:50px;
    }
   
</style>
<h2>@Html.DisplayFor(model => model.Category.Name)</h2>

<div>
    <h4>@Html.DisplayFor(model => model.FullName)</h4>
    <hr />
    <div>
        <img src="~/Files/@Model.Picture_Link" height="150" width="160" />
    </div>
    <dl class="dl-horizontal">

        <dt>
            @Html.DisplayNameFor(model => model.FullName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FullName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Phone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Phone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Experience)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Experience)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Skills)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Skills)
        </dd>

    </dl>
</div>



<p style="font-size:16px">

    @Html.ActionLink("Send Request", "Request", new { @id = Model.UserId }, new { @class = "btn btn-default" })
</p>
     <div style="font-size:14px">
        @Html.ActionLink("Back to List of Specialist", "Index")
    </div>

