﻿@model int?
@{
    ViewBag.Title = "List";
}

<h2><u>Specialists</u></h2>


   
<input id="dropdown" />

<div id="divContenc">
    @Html.Action("_List", routeValues: new { id = Model })
</div>

@section scripts

    {
    
<script>
      
    $("#dropdown").kendoDropDownList({

        dataSource: [
        { productName: "Rate", productId: 1 },
        { productName: "Popular", productId: 2 }
        ],
        dataTextField: "productName",
        dataValueField: "productId",
        optionLabel: {
            productName: "Sort By...",
            productId: ""
        }
    });

    $("#dropdown").change(function () {
        var catId = $("#dropdown").val();
        $.ajax({
            data: { 'id': @ViewBag.id, 'dropId': catId },
            url: '/User/_List',
            success: function(dataFromServer){
                $("#divContenc").empty().append(dataFromServer);
            },
        });
    });
        
 
</script>
}