﻿@model Organizer.Repozitory.Entities.Request

@{
    ViewBag.Title = "Request";
}

<link href="~/Content/sweetalert.css" rel="stylesheet" />


<h2>Request a meeting</h2>


@using (Ajax.BeginForm("Request", "User",
                            new AjaxOptions { OnSuccess = "OnSuccess", OnFailure = "OnFailure", LoadingElementId = "progress" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">

        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group" hidden>
            @Html.LabelFor(model => model.UserId, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.UserId, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.UserId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Date_Time, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Date_Time, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Date_Time, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group" hidden>
            @Html.LabelFor(model => model.ClientUserId, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ClientUserId, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.ClientUserId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Discription, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.Discription, new { @class = "form-control", @placeholder = "Please add request description" })
                @Html.ValidationMessageFor(model => model.Discription, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Request Meeting " class="btn btn-default" />
            </div>
        </div>
    </div>
}



<div style="font-size:16px">
    @Html.ActionLink("Back to List of Specialist", "Index")
</div>




@section Scripts {

 <script type="text/javascript">
    
    function OnSuccess(response) {
    swal({
        title: "Your request has been successfully sent!",
        type: "success",
        confirmButtonText: "OK"
    },
function (isConfirm) {
    if (isConfirm) {
        window.location.href = '@Url.Action("Index", "User", new { id = Model.UserId })';
        }
        })
        };


        function OnFailure(response) {
        alert("Whoops! That didn't go so well did it?");
        }
</script>
<script src="~/Scripts/My/Request.js"></script>
    @*@Scripts.Render("~/bundles/jqueryval")*@
    <script src="~/Scripts/sweetalert.min.js"></script>

    
}
